{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        {% if result and not result.json.error %}
            <h3>
                {{ result.message }}
            </h3>
        {% else %}
            <h3>Something went wrong!</h3>
        {% endif %}
        <div>IP address: {{ result.ip_address }}</div>
        <div>HTTP status code: {{ result.status }}</div>
        <div>Qrator response: {{ result.json }}</div>
        <br/>
        <a href="/">Return to index page</a>
    </div>
{% endblock %}